apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "base.fullname" . }}
stringData:
  PGCAT_ADMIN_USERNAME: {{ .Values.pgcat.app.general.admin_username }}
  PGCAT_ADMIN_PASSWORD: {{ .Values.pgcat.app.general.admin_password }}
  PGCAT_HOST: {{ .Values.pgcat.app.general.host }}
  PGCAT_PORT: {{ .Values.pgcat.app.general.port | quote }}
  {{- if .Values.pgcat.app.pools }}
  {{- $pools := .Values.pgcat.app.pools }}
  {{- $poolNames := keys $pools }}
  {{- if $poolNames }}
  {{- $firstPoolName := (first $poolNames) }}
  {{- $firstPool := (index $pools $firstPoolName) }}
  {{- if $firstPool.users }}
  {{- $firstUser := (first $firstPool.users) }}
  {{- if $firstUser }}
  PGCAT_FIRST_USER_USERNAME: {{ $firstUser.username }}
  PGCAT_FIRST_USER_PASSWORD: {{ $firstUser.password }}
  {{- end }}
  {{- end }}
  {{- if $firstPool.shards }}
  {{- $firstShard := (first $firstPool.shards) }}
  {{- if $firstShard.servers }}
  {{- $firstServer := (first $firstShard.servers) }}
  {{- if $firstServer }}
  PGCAT_FIRST_SERVER_HOST: {{ index $firstServer 0 }}
  PGCAT_FIRST_SERVER_PORT: {{ index $firstServer 1 | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
