apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "base.fullname" . }}
stringData:
  PGCAT_ADMIN_PASSWORD: {{ .Values.pgcat.app.general.admin_password }}
  {{- if and .Values.pgcat.app.general.auth_query_password (ne .Values.pgcat.app.general.auth_query_password "") }}
  PGCAT_AUTH_QUERY_PASSWORD: {{ .Values.pgcat.app.general.auth_query_password }}
  {{- end }}
