apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "base.fullname" . }}
stringData:
  PROXYSQL_ADMIN_USER: {{ .Values.proxysql.app.admin.user }}
  PROXYSQL_ADMIN_PASSWORD: {{ .Values.proxysql.app.admin.password }}
  PROXYSQL_ADMIN_PORT: {{ .Values.proxysql.app.admin.port | quote }}
  {{- if eq .Values.proxysql.app.databaseType "mysql" }}
  MYSQL_FIRST_USER: {{ (first .Values.proxysql.app.users).username }}
  MYSQL_FIRST_PASSWORD: {{ (first .Values.proxysql.app.users).password }}
  MYSQL_FIRST_PORT: {{ (first .Values.proxysql.app.mysql.ports) | quote }}
  {{- else if eq .Values.proxysql.app.databaseType "postgresql" }}
  POSTGRESQL_FIRST_USER: {{ (first .Values.proxysql.app.users).username }}
  POSTGRESQL_FIRST_PASSWORD: {{ (first .Values.proxysql.app.users).password }}
  POSTGRESQL_FIRST_PORT: {{ (first .Values.proxysql.app.postgresql.ports) | quote }}
  {{- end }}