apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-event-exporter-enricher
spec:
  selector:
    matchLabels:
      app: kubernetes-event-exporter-enricher
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: kubernetes-event-exporter-enricher
    spec:
      serviceAccountName: kubernetes-event-exporter-enricher
      containers:
      - name: kubernetes-event-exporter-enricher
        image: dasmeta/kubernetes-events-exporter-enricher:0.0.5
        env:
        - name: DOWNSTREAM_WEBHOOK
          value: '{{ required "webhookEndpoint is required!" .Values.webhookEndpoint }}'
        - name: PORT
          value: "8080"
        ports:
        - containerPort: 8080
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "sleep 10"]
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 256Mi
