apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "base.fullname" . }}
  labels:
    {{- include "base.labels" . | nindent 4 }}
    {{- if .Values.labels }}
    {{- range $key, $value := .Values.labels }}
    {{ $value.name }}: {{ $value.value | quote}}
    {{- end }}
    {{- end }}
spec:
  {{- if .Values.minReadySeconds}}
  minReadySeconds: {{ .Values.minReadySeconds }}
  {{- end }}
  {{- if .Values.revisionHistoryLimit}}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- end }}
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "base.selectorLabels" . | nindent 6 }}
      {{- if .Values.matchLabels }}
      {{- range $key, $value := .Values.matchLabels }}
      {{ $value.name }}: {{ $value.value | quote}}
      {{- end }}
      {{- end }}
  {{- if .Values.strategy }}
  strategy:
    {{- toYaml .Values.strategy | nindent 12 }}
  {{- end }}
  template:
    metadata:
      annotations:
        configmap: "{{ .Values.config | toYaml | sha256sum | trunc 8 }}"
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "base.selectorLabels" . | nindent 8 }}
        {{- if .Values.labels }}
        {{- range $key, $value := .Values.labels }}
        {{ $value.name }}: {{ $value.value | quote }}
        {{- end }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "base.serviceAccountName" . }}
      {{- if .Values.initContainers }}
      initContainers:
       {{- range $initContainer := (ternary .Values.initContainers (list .Values.initContainers) (kindIs "slice" .Values.initContainers)) }}
        - name: {{ $initContainer.name }}
          image: "{{ $initContainer.image.repository }}:{{ $initContainer.image.tag }}"
          imagePullPolicy: {{ $initContainer.image.pullPolicy }}
          {{- if $initContainer.command }}
          command:
            {{  toYaml $initContainer.command | nindent 12 }}
          {{- end }}
          {{- if $initContainer.args }}
          args: {{  toYaml $initContainer.args | nindent 12 }}
          {{- end }}
          {{- if or $initContainer.extraEnv $initContainer.secrets}}
          env:
          {{- range $key, $value := $initContainer.extraEnv }}
          - name: {{ $key | quote}}
            value: {{ $value | quote }}
          {{- end }}
          {{- range $secret := $initContainer.secrets }}
          {{- if ne (kindOf $secret) "string" }}
          {{- range $map_key,$map_value := $secret }}
          - name: {{ $map_key }}
            valueFrom:
              secretKeyRef:
                key: {{ $map_value.key }}
                name: {{ $map_value.from }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if $initContainer.envFrom }}
          envFrom:
            {{- toYaml $initContainer.envFrom | nindent 12 }}
          {{- end }}
          {{- if $initContainer.volumes }}
          volumeMounts:
            {{- range $index, $element := $initContainer.volumes }}
            - name: {{ coalesce $element.name (add $index 1) }}
              mountPath: {{ $element.mountPath }}
              readOnly: {{ $element.readOnly | default false }}
              {{- if $element.subPath }}
              subPath: {{ $element.subPath }}
              {{- end }}
            {{- end }}
          {{- end }}
      {{- end }}
      {{- end }}
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
      {{-  toYaml .Values.topologySpreadConstraints | nindent 6 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        {{- if .Values.extraContainer }}
        - name: {{ .Values.extraContainer.name }}
          image: "{{ .Values.extraContainer.image.repository }}:{{ .Values.extraContainer.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.extraContainer.image.pullPolicy }}
          {{- if $.Values.extraContainer.command }}
          command:
            {{  toYaml .Values.extraContainer.command | nindent 12 }}
          {{- end }} 
          {{- if .Values.extraContainer.service.enabled }}
          ports:
            - name: http
              containerPort: {{ .Values.extraContainer.containerPort | default 80 }}
              protocol: TCP
          {{- end }}
          {{- if or .Values.extraContainer.extraEnv .Values.extraContainer.secrets}}
          env:
          {{- range $key, $value := .Values.extraContainer.extraEnv }}
          - name: {{ $key | quote}}
            value: {{ $value | quote }}
          {{- end }}
          {{- range $secret := .Values.extraContainer.secrets }}
          {{- if ne (kindOf $secret) "string" }}
          {{- range $map_key,$map_value := $secret }}
          - name: {{ $map_key }}
            valueFrom:
              secretKeyRef:
                key: {{ $map_value.key }}
                name: {{ $map_value.from }}
          {{- end }}
          {{- end }}
          {{- end }}
        {{- end }}
          {{- if .Values.extraContainer.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.extraContainer.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.extraContainer.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.extraContainer.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.extraContainer.startupProbe }}
          startupProbe:
            {{- toYaml .Values.extraContainer.startupProbe | nindent 12 }}
          {{- end }}        
          resources:
          {{- toYaml .Values.extraContainer.resources | nindent 12 }}
          {{- if .Values.extraContainer.envFrom }}
          envFrom:
            - configMapRef:
                name: {{ .Values.extraContainer.name }}
            {{- if eq .Values.extraContainer.secretsDefaultEngine "ExternalSecrets" -}}
            - secretRef:
                name: {{ .Values.extraContainer.secretRef }}
                optional: true
            {{- end }}
          {{- end }}
          {{- if eq .Values.extraContainer.secretsDefaultEngine "ExternalSecrets" }}
          - secretRef:
              name: {{ include "base.fullname" . }}
              optional: true
          {{- end }}
          {{- if .Values.extraContainer.deployment.volumes }}
          volumeMounts:
            {{- range $index, $element := .Values.extraContainer.deployment.volumes }}
            {{- if eq $element.container "extra"}}
            - name: {{ coalesce $element.name (add $index 1) }}
              mountPath: {{ $element.mountPath }}
              {{- if $element.subPath }}
              subPath: {{ $element.subPath }}
              {{- end }}
              readOnly: {{ $element.readOnly | default false }}
            {{- end }}
            {{- end }}
          {{- end }}
          {{- if .Values.extraContainer.deployment.lifecycle }}
          lifecycle:
            {{- toYaml .Values.extraContainer.deployment.lifecycle | nindent 12 }}
          {{- end }}
        {{- end }} 
        - name: {{ include "base.fullname" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if $.Values.command }}
          command:
            {{  toYaml .Values.command | nindent 12 }}
          {{- end }}
          {{- if $.Values.args }}
          args: {{  toYaml .Values.args | nindent 12 }}
          {{- end }}
          {{- if or .Values.extraEnv .Values.secrets}}
          env:
            {{- range $key, $value := .Values.extraEnv }}
            - name: {{ $key | quote}}
              value: {{ $value | quote }}
            {{- end }}
            {{- range $secret := .Values.secrets }}
            {{- if ne (kindOf $secret) "string" }}
            {{- range $map_key,$map_value := $secret }}
            - name: {{ $map_key }}
              valueFrom:
                secretKeyRef:
                  key: {{ $map_value.key }}
                  name: {{ $map_value.from }}
            {{- end }}
            {{- end }}
            {{- end }}
          {{- end }}
          {{- if .Values.service.enabled }}
          ports:
            - name: http
              containerPort: {{ .Values.containerPort | default 80 }}
              protocol: TCP
          {{- end }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.startupProbe }}
          startupProbe:
            {{- toYaml .Values.startupProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          envFrom:
            {{- if .Values.config }}
            - configMapRef:
                name: {{ include "base.fullname" . }}
            {{- end }}
            {{- if .Values.externalConfigmap }}
            - configMapRef:
                name:  {{ .Values.externalConfigmap.name }}
            {{- end }}
            {{- if eq .Values.secretsDefaultEngine "ExternalSecrets" }}
            - secretRef:
                name: {{ include "base.fullname" . }}
                optional: true
            {{- end }}
            {{- if .Values.envFrom.secret }}
            - secretRef:
                name: {{ .Values.envFrom.secret }}
                optional: true
            {{- end }}
          {{- if .Values.deployment.volumes }}
          volumeMounts:
            {{- range $index, $element := .Values.deployment.volumes }}
            {{- if eq $element.container nil }}
            - name: {{ coalesce $element.name (add $index 1) }}
              mountPath: {{ $element.mountPath }}
              {{- if $element.subPath }}
              subPath: {{ $element.subPath }}
              {{- end }}
              readOnly: {{ $element.readOnly | default false }}
            {{- end }}
            {{- end }}
          {{- end }}
          {{- if .Values.deployment.additionalvolumeMounts }}
            {{- toYaml .Values.deployment.additionalvolumeMounts | nindent 12 }}
          {{- end }}
          {{- if .Values.deployment.lifecycle }}
          lifecycle:
            {{- toYaml .Values.deployment.lifecycle | nindent 12 }}
          {{- end }}
      {{- if .Values.deployment.volumes }}
      volumes:
        {{- range $index, $element := .Values.deployment.volumes }}
        - name: {{ coalesce $element.name (add $index 1) }}
          {{- if $element.configMap }}
          configMap:
            name: {{ $element.configMap.name }}
          {{- end }}
          {{- if $element.persistentVolumeClaim }}
          persistentVolumeClaim:
            {{- if $element.persistentVolumeClaim.claimName }}
            claimName: {{ $element.persistentVolumeClaim.claimName }}
            {{- else }}
            claimName: {{ include "base.fullname" $ }}
            {{- end }}
          {{- end }}
          {{- if $element.secret }}
          secret:
            secretName: {{ $element.secret.secretName }}
          {{- end }}
          {{- if $element.emptyDir }}
          emptyDir:
            medium: {{ $element.emptyDir.medium }}
            sizeLimit: {{ $element.emptyDir.sizeLimit }}
          {{- end }}
          {{- if $element.hostPath }}
          hostPath:
            path: {{ $element.hostPath.path }}
            type: {{ $element.hostPath.type }}
          {{- end }}
      {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
