{{- if .Values.secrets -}}
{{ $fullName := include "base.fullname" .}}
apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  name: {{ $fullName }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: {{ .Values.product }}-{{ .Values.env }}
    kind: SecretStore
  target:
    name: {{ $fullName }}
    creationPolicy: Owner
  data:
  {{- range $index, $secret := .Values.secrets }}
  {{ $key := $secret }}
  {{ $property := $secret }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $.Values.product }}-{{ $.Values.env }}-{{ $fullName }}
      property: {{ $property }}
  {{- end }}
{{- end }}
