kubernetes-event-exporter:
  global:
    security:
      allowInsecureImages: true
  image:
    repository: bitnamilegacy/kubernetes-event-exporter
  config:
    receivers:
      - name: "enricher"
        webhook:
          endpoint: "http://kubernetes-event-exporter-enricher:8080/events"
    route:
      routes:
        - match:
            - receiver: "enricher"

webhookEndpoint:
