{{- range $job := .Values.jobs }}
{{- if and (hasKey $job "config") (kindIs "map" $job.config) (default false ($job.config).enabled) }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ $job.name | quote}}
data:
  {{- toYaml $job.config.data | nindent 2 }}
{{- end }}
{{- end }}
